:root{
    --blue: rgb(0, 39, 116);
    --blue-two: rgb(21, 72, 174);
    --blue-hover:rgb(26, 77, 230);
    --orange: rgb(248, 167, 15);
    --orange-hover: rgb(250, 198, 56);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--blue);
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: var(--blue-two);
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla{
    grid-column: 1/-1;
    background-color: var(--blue);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color: var(--blue);
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--blue-hover);
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: var(--orange);
}

#igual:hover{
    background-color: var(--orange-hover);
}